.display-flex,
.display-flex-center,
.signup-content{
  display: flex;
  display: -webkit-flex;
}


.signup-img {
  max-width: 100%;
  height: auto;
}


.main {
  background: #f8f8f8;
  padding: 30px 0;
}

.clear {
  clear: both;
}


.signup--container {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.signup-content {
  padding: 50px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

.signup-image {
  margin: 0 55px;
}

.form-title {
  margin-bottom: 33px;
  font-size: 2.5rem;
}


.signup-image figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 8px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}



.signup-image-link {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  text-align: center;
  color: #333 !important;
}

.term-service {
  font-size: 13px;
  color: #222;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.form-group:last-child {
  margin-bottom: 0px;
}

.signup-Input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  outline: none !important;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
.signup-Input::-webkit-input-placeholder {
  color: #777;
}
.signup-Input::-moz-placeholder {
  color: #777;
}
.signup-Input:-ms-input-placeholder {
  color: #777;
}
.signup-Input:-moz-placeholder {
  color: #777;
}
.signup-Input:focus {
  border-bottom: 1px solid #222;
}
.signup-Input:focus::-webkit-input-placeholder {
  color: #222;
}
.signup-Input:focus::-moz-placeholder {
  color: #222;
}
.signup-Input:focus:-ms-input-placeholder {
  color: #222;
}
.signup-Input:focus:-moz-placeholder {
  color: #222;
}



.signup-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}



.material-icons-name {
  font-size: 18px;
}

.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}



@media screen and (max-width: 1200px) {
  .signup--container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .signup--container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {

  .signup-img
  {
    display:none;
  }

  .signup-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
  }


  .signup-form,
  .signup-image
  {
    width: auto;
  }


  .form-button {
    text-align: center;
  }


  .form-title {
    text-align: center;
  }
}
