@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

html,body
{
    font-family: 'Nunito Sans', sans-serif;
}

.dropdown-toggle::after
{
    display: none !important;
}


.navbar--hamburger .line
{
	width: 40px;
	height: 3px;
	background-color: #fff;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: none !important;
	outline: none !important;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.navbar--hamburger:hover
{
	cursor: pointer;
}

.navbar--hamburger.is-active
{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
  
.navbar--hamburger.is-active .line:nth-child(2)
{
	width: 0px;
}
  
.navbar--hamburger.is-active .line:nth-child(1),
.navbar--hamburger.is-active .line:nth-child(3)
{
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
  
.navbar--hamburger.is-active .line:nth-child(1)
{
	transform: translateY(9px);
	-webkit-transform: translateY(9px);
	-moz-transform: translateY(9px);
	-ms-transform: translateY(9px);
	-o-transform: translateY(9px);
}
  
.navbar--hamburger.is-active .line:nth-child(3)
{
	transform: translateY(-13px) rotate(90deg);
	-webkit-transform: translateY(-13px) rotate(90deg);
	-moz-transform: translateY(-13px) rotate(90deg);
	-ms-transform: translateY(-13px) rotate(90deg);
	-o-transform: translateY(-13px) rotate(90deg);
}
   
.navbar-expand-lg .navbar-collapse
{
	justify-content: space-around;
}

.text-decoration-none
{
  text-decoration: none!important;
}
.icon-width { width: 2rem;}

#nav--container
{
	display: inline-flex !important;
	max-width: 100% !important;
}

#nav--main
{
	background-color: #403F3F;
	padding: 0;
}

@media (min-width: 992px)
{
	.navbar
	{
		display: block !important;
	}
}

.white-green
{
	color: #fff !important;
		transition: all .5s;
}

.white-green:hover
{
	color: #B8FB3C !important;
}

.item--border{
	border-bottom: 1px solid #fff;
	transition: all .5s;
}

.item--border:hover{
	border-bottom: 1px solid #FF0074;
}

#ham
{
	box-shadow: none !important;
}

#navbar4{
	justify-content: flex-end !important;
}

#nav--first{
	flex-grow: .6;
}

#nav--second{
	flex-grow: .05;
}

#nav--third{
	flex-grow: .05;
}

@media screen and (max-width: 992px)
{
	#nav--first,#nav--second
	{
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	}
	
	#nav--first li
	{
		text-align: center;
		flex-grow: .2;
	}
	
	#nav--second li
	{
		text-align: center;
		flex-grow: .2;
	}
	
	#nav--third
	{
		width: fit-content;
		display: inline-block;
		float: left;
		margin: 20px auto;
	}
	
	#nav--fourth
	{
		width: fit-content;
		display: inline-block;
		float: right;
	}

	#nav--third
	{
		width: 100%;
	}

	#brand1
	{
		float:left;
	}

	#brand2
	{
		float: right;
	}
}

@media screen and (max-width: 620px)
{
	#nav--first,#nav--second
	{
		flex-direction: column;
	}
}

#nav--secondary
{
	background-color: #403F3F;
}

#nav--secondary div
{
	color:  #B8FB3C;
		justify-content: space-evenly !important;
	text-transform: uppercase;
	text-align: center;
}

.brand--button
{
	font-size: 15px !important;
	background-color: #B8FB3C;
	font-weight: 600;
	margin: 0 .3rem;
	text-transform: uppercase;
	padding: 9px 23px;
	font-weight:  bold !important;
	outline: none !important;
	border: 1px solid #5CE5D5;
	box-shadow: none !important;
	line-height: 1;
	text-align: center;	
}
